 /*!
 * GFB THEME v1.0.1
 *
 * Copyright 2013 Adam
 * Licensed creative commons
 * 
 *
 */

/* Model */

.modal-content {
  background-color: #1A1818;
}
.modal-dialog {
  width: 808px;
  padding-top: 86px;
}
.close {
  color: #FFF;
  text-shadow: 0 1px 0 #5C5C5C;
  opacity: .2;
}
.modal-header {
  padding-bottom: 0px;
  border-bottom: 0px solid #e5e5e5;
}

/* Gallery override */

.gllr_image_row {
 clear:none;
}
.gllr_single_image_text { display:none; }

.video-responsive {
  display: block;
  height: 230px;
  max-width: 100%;
}
.video-responsive2 {
  display: block;
  max-width: 100%;
}

/* Typography
------------------------- */

h2, h3, h4 {
  font-weight: 300;
}
h2 {
 margin-bottom:30px;
}
h3 {
 font-size:16px;
 text-transform:uppercase;
}
.feature-type h2 {
  color: white;
  font-size:50px;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.feature-type p {
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
strong {
  font-weight: 400;
}
.navbar-default .navbar-brand {
 color: #2E2E2E;
 font-weight: 500;
 font-size: 21px;
 text-shadow: 0px 4px 4px #FFFFFF;
}
h5 {
  font-size: 16px;
}


/* Body
------------------------- */

.homepage-body {
  padding-top: 0px;
  }

.hp-feature {
  background: #fff;
  margin-top: 70px;
}
.well {
  border: 0px solid #e3e3e3;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
}

/* Customize container */
@media (min-width: 768px) {
  .container-buy {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.fix-thumb {
 height:160px;
}
.label {
 font-size:100%;
 font-weight:400;
}
.homepage-gallery-positioning {
 padding-left:50px;
}
.jumbotron-mod {
 background: rgba(250, 250, 250, 1);
 padding:60px 60px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px; /* future proofing */
 -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-divider-home-lecture-list {
  margin: 18px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
  .feature-type h2 {
    font-size: 38px;
  }
}


/* WP HELPERS
-------------------------------------------------- */

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}